*{
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
}
header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul {
    padding-right: 30px;
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}
a {
    text-decoration: none;
}
a:visited ,
.hero-secondary-text
{
    font-size: 18px;
    color: #e5e7eb;
}
.container-logo {
    display: flex;   
    align-content: center;
    padding-left: 100px;
}
.logo {
    flex:1;
    width: 40px;
    height: 40px;
    padding: 20px 3px 20px 35px;
}
.logo-text {  
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 10px;
}

.headerycont1 {
    background-color: #1F2937;
}

.contenido1 {
    background-color: #1F2937;
    margin: 0 ;
    padding: 40px;
    border: 0;
    padding-left: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.cont1-left {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    flex: 1;
    padding-left: 50px;

    
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}
.imagen-principal {
    box-sizing: border-box;
    padding: 30px;
    width: 400px;
    height: auto;
    max-width: 600px;
    flex: 1;
    
}
.hero-secondary-text {
    margin: 5;
}
.cont1-button {
    width: 120px;
    height: 30px;
    padding: 4px;
    
    border-style: none;
    border-radius: 4px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
}

.container-recuadros {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.recuadro1 {
    min-width: 120px;
  
}
.texto-recuadro {
    width: 100px;
    text-align: center;
    font-size: smaller;
}

.imagen-grupo {
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
}


.contenido3 {
    
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
h4 {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    font-family: 'Roboto';
    max-width: 750px;
    padding: 50px 50px 0px 50px;
    margin-bottom: 20px;
}
h5 {
    padding-top: 0px;
    padding-right: 50px;
    margin-top: 0px;
    align-self: flex-end;
    max-width: 750px;
    font-family: 'Roboto';
    font-weight: lighter;


}



.contenido4 {
    padding: 20px 40px;
    margin: 50px auto;
    background-color: #3882f6;
    border-style: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    
    
}
h6, 
.cont4-text,
.cont4-button {
    color: #F9FAF8;
}
h6 {
    margin-top: 12px;
    font-family: 'Roboto';
    font-size: 22px;
    margin-bottom: 0;
}
.cont4-text {
    
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    margin-top:  8px; 
}

.cont4-button {
    width: 100px;
    height: 30px;
    padding: 4px;
    border-color: #F9FAF8;
    border-style: none;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 16px;
    
}
footer 
    {
        background-color: #1F2937;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px;
        color: #F9FAF8;
        font-family:'Roboto';
    }
