*{
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
}
header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul {
    padding-right: 30px;
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}
a {
    text-decoration: none;
}
a:visited ,
.hero-secondary-text
{
    font-size: 18px;
    color: #e5e7eb;
}
.container-logo {
    display: flex;   
    align-content: center;
    padding-left: 100px;
}
.logo {
    flex:1;
    width: 40px;
    height: 40px;
    padding: 20px 3px 20px 35px;
}
.logo-text {  
    font-size: 24px;
    color: #F9FAF8;
    padding-right: 10px;
}

.headerycont1 {
    background-color: #1F2937;
}

.contenido1 {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.cont1-left {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 20px;
    flex: 1;
    padding-left: 50px;
    
}


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}
.imagen-principal {
    box-sizing: border-box;
    padding: 30px;
    width: 400px;
    height: auto;
    max-width: 600px;
    flex: 1;
    
}
.hero-secondary-text {
    margin: 5;
}
button {
    width: 120px;
    height: 30px;
    padding: 4px;
    
    border-style: none;
    border-radius: 4px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
}